$def with(personaje)
<h3>
    <a href="/personaje">personaje</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>Nombre</th>
        <th>Descripci&oacute;n</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in personaje:
        <tr>
            <td><a href='/personaje/view/$item.id_personaje'>$item.nombre_personaje</a></td>
            <td><a href='/personaje/view/$item.id_personaje'>$item.descripcion</a></td>
            <td><a href='/personaje/edit/$item.id_personaje'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/personaje/delete/$item.id_personaje'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>